:root {
    --beckyApp-colorBlack: #000000;
    --beckyApp-colorWhite: #ffffff;
    --beckyApp-color1: #ff0000;
    --beckyApp-color2: #ff5e00;
    --beckyApp-color3: #ffee00;
    --beckyApp-color4: #1eff00;
    --beckyApp-color5: #1900ff;
}